@{
    ViewData["Title"] = "Mongo DB";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>With Mongo DB you can either save new data or query existing data.</p>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Save New Data</a></li>
            <li><a class="dropdown-item" href="#">Query Existing Data</a></li>
        </ul>
    </div>
</div>


<div>

</div>
