@model PanelViewModel

@{
    ViewData["Title"] = "Web API";
    var activePanel = ViewBag.ActivePanel ?? "panel1";
}

<script>
    $( document ).ready( function ()
    {
        $( "#apiDropdown" ).change( function ()
        {
            $( "#result" ).hide();
            $( "#dogVideo" ).hide();

            var selectedValue = $( this ).val();

            if ( selectedValue )
            {
                $.ajax( {
                    url: '/Home/GetData', // Controller action
                    type: 'GET',
                    data: { apiType: selectedValue },
                    success: function ( data )
                    {   
                        if ( selectedValue == "openbrewery" )
                        {
                            $( "#result" ).html( "<pre>" + JSON.stringify( data, null, 2 ) + "</pre>" );
                            $( "#result" ).show();
                        }
                        else {
                            let videoUrl = "https://random.dog/66b9ea90-1493-4ddc-ab9b-f2b87385e196.mp4";
                           // $( "#dogVideo" ).attr( "src", videoUrl );
                          //  $( "#dogVideo" ).show();
                           // $( "#dogVideo" )[ 0 ].play();
                            $( "#dogText" ).html( "<pre>" + JSON.stringify( data, null, 2 ) + "</pre>" );

                        }
                        
                    },
                    error: function ( xhr, status, error )
                    {
                        $( "#result" ).html( "<p style='color: red;'>Error: " + xhr.responseText + "</p>" );
                    }
                } );
            } else
            {
                $( "#result" ).html( "" ); // Clear result if no selection
            }
        } );
    } );
</script>

@{
   
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose an API endpoint that you want to call and let the magic begin.</p>

    <select id="apiDropdown">
        <option value="">--Select an API--</option>
        <option value="openbrewery">Open Brewery API</option>
        <option value="randomdog">Random Dog API</option>
    </select>

    <div>
        <p id="result"></p>
        <video id="dogVideo"/>
        <p id="dogText"></p>
    </div>

</div>


<div>

</div>
