@{
    ViewData["Title"] = "Web API";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose an API endpoint that you want to call and let the magic begin.</p>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Open Brewery API</a></li>
            <li><a class="dropdown-item" href="#">Action 2</a></li>
            <li><a class="dropdown-item" href="#">Action 3</a></li>
        </ul>
    </div>
</div>


<div>

</div>
